In [1]:
import pandas as pd
df = pd.read_csv("sample_employee_dataset.csv")

# a. Mean

print(df.mean)

<bound method DataFrame.mean of    ID     Name Department  Age  Salary  ExperienceYears
0   1    Alice         HR   25   50000                1
1   2      Bob         IT   30   60000                4
2   3  Charlie         IT   35   70000                8
3   4    David         HR   28   55000                3
4   5      Eva    Finance   40   75000               12>

In [2]:
# b. Median

print(df.median)

<bound method DataFrame.median of    ID     Name Department  Age  Salary  ExperienceYears
0   1    Alice         HR   25   50000                1
1   2      Bob         IT   30   60000                4
2   3  Charlie         IT   35   70000                8
3   4    David         HR   28   55000                3
4   5      Eva    Finance   40   75000               12>

In [3]:
# c. Mode

print(df.mode)

<bound method DataFrame.mode of    ID     Name Department  Age  Salary  ExperienceYears
0   1    Alice         HR   25   50000                1
1   2      Bob         IT   30   60000                4
2   3  Charlie         IT   35   70000                8
3   4    David         HR   28   55000                3
4   5      Eva    Finance   40   75000               12>

In [4]:
# d.  Variance

print(df.var)

<bound method DataFrame.var of    ID     Name Department  Age  Salary  ExperienceYears
0   1    Alice         HR   25   50000                1
1   2      Bob         IT   30   60000                4
2   3  Charlie         IT   35   70000                8
3   4    David         HR   28   55000                3
4   5      Eva    Finance   40   75000               12>

In [5]:
# e. Standard Deviation

print(df.std)

<bound method DataFrame.std of    ID     Name Department  Age  Salary  ExperienceYears
0   1    Alice         HR   25   50000                1
1   2      Bob         IT   30   60000                4
2   3  Charlie         IT   35   70000                8
3   4    David         HR   28   55000                3
4   5      Eva    Finance   40   75000               12>

In [6]:
print("\nGrouped Statistics  by Department:")
grouped = df.groupby('Department').agg({
    'Salary': ['mean', 'median', 'std'],
    'Age': ['mean', 'std']
})
print(grouped)

Grouped Statistics  by Department:
             Salary                         Age
               mean   median          std  mean       std
Department
Finance     75000.0  75000.0          NaN  40.0       NaN
HR          52500.0  52500.0  3535.533906  26.5  2.121320
IT          65000.0  65000.0  7071.067812  32.5  3.535534

In [9]:
print("\nQuick Descriptive Statistics:")
print(df.describe)

Quick Descriptive Statistics:
<bound method NDFrame.describe of    ID     Name Department  Age  Salary  ExperienceYears
0   1    Alice         HR   25   50000                1
1   2      Bob         IT   30   60000                4
2   3  Charlie         IT   35   70000                8
3   4    David         HR   28   55000                3
4   5      Eva    Finance   40   75000               12>